<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src='/js/app.js' defer></script>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>fill in your address to get weather information</p>
            <form>
                <input placeholder="fill in your location here">
                <button>search</button>
            </form>
            <p id="p1"></p>
            <p id="p2"></p>
        </div>
        {{>footer}}
    </body>
</html>